<div class="container-fluid">
  <div class="banner-bootom-w3-agileits">
    <div class="container">
      <h3 class="wthree_text_info">Nuestros
        <span>Productos</span>
      </h3>
      <%@categories.each do |category|%>
        <div class="col-md-6 bb-grids bb-middle-agileits-w3layouts" style="margin-bottom:1em;">
          <%=link_to products_path(category:category.id) do%>
            <div class="bb-middle-agileits-w3layouts grid">
              <figure class="effect-roxy">
                <%=image_tag(category.portada.url(:medium),class:"img-responsive")%>
                <figcaption>
                  <h3>
                    <span><%=category.name[0]%></span><%=category.name[1..20]%>
                  </h3>
                </figcaption>
              </figure>
            </div>
          <%end%>
          <div class="clearfix"></div>
        </div>
      <%end%>
    </div>
  </div>
</div>
