<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <title>Systemplas</title>
    <%= favicon_link_tag 'favico.ico'%>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>
  <body>
    
  </body>
</html>
